::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #840000;
    border: 1px solid #802113;
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    background: #efffff;
    border: 0px none #ffffff;
    border-radius: 53px;
}

body {
    background-color: black;
    color: white;
    margin:0;
    overflow: hidden;
    font-size: large;
    text-align: center;
}

#banner {
    width: 100%;
    height: 3%;
    position: fixed;
    background-color: #19191A;
}

#modList {
    overflow-y: scroll;
    direction:rtl;
    position: fixed;
    top: 3%;
    bottom: 0;
    right: 70%;
}

#content {
    position: fixed;
    top: 3%;
    bottom: 0;
    right: 0;
    left: 30%;
    margin: 5px;
    overflow-y: auto;
    font-size:  larger;
    background-color: #19191A;
    z-index: -1;
}

#modList > * {
    height: fit-content;
    padding: 10px;
    background-color: #19191A;
    margin-top: 5px;
    direction: ltr;
    cursor: pointer;
}

#banner > * {
    float: left;
    font-size: 100%;
    height: 85%;
}

#options {
    margin-left: 29.3%;
}

#order {
    float: left;
}

#order > div {
    height: 1.5%;
}

.dropdown {
    float: right;
    font-size: larger;
    margin-right: 5px;
    vertical-align: top;
    background-color: #1E1E20;
    padding: 2px;
    border: 4px solid #1E1E20;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropdown > div {
    border-bottom: 2px solid #840000;
}

.dropdown > a {
    font-size: 0;
    display: block;
    transition: all .5s;
    color: inherit;
    text-decoration: none;
}

.dropdown:hover > a {
    font-size: inherit;
    border-bottom: 2px solid #840000;
}

p {
    font-size:  larger;
}

p, cloud, h1, #content > a, imgscroll {
    display: inline-block;
    width: 95%;
    border-radius: 25px;
    background-color: #1E1E20;
    padding: 10px;
    overflow: hidden;
    margin: 5px;
}

summary {
    display: inline-block;
    vertical-align: top;
    width: 68%;
    margin-right: 2%;
}

imgbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#modList imgbox {
    height: 100px;
    width: 30%;
}

imgscroll imgbox {
    height: 30%;
    margin: 5px;
}

imgscroll {
    overflow-x: auto;
    white-space: nowrap;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.activeMod {
    background-color: #efffff !important;
}

.activeOrder {
    color: #840000 !important;
}

#content > h1 {
    font-size: x-large;
    display: inline-block;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
    top: 0;
    left: 0;
    width: 75%;
}

#content > a {
    background-color: green;
    display: inline-block;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 18%;
}

#content > a, #order > * {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
    color: inherit;
    text-decoration: none;
}

#content > a:hover {
    background-color: darkgreen;
}

divider {
    width: 31.5%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    display: inline-block;
    vertical-align: top;
}

li {
    text-align: left;
}

match {
    background-color: #840000;
}